* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    --primary-color: #22c55e;
    --grey-background: #e5e5e5;
}

html,
body {
    height: 100%;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 1fr;
    height: 100%;
}

.img {
    width: 36px;
    height: 36px;
}

.side-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto) 1fr;
    gap: 35px;
    color: white;
    background-color: var(--primary-color);
}

.side-item {
    display: grid;
    grid-template-columns: auto 1fr;
    font-weight: bold;
    padding: 5px;
    align-items: center;
    padding: 5px 20px;
}

.side-container .side-item:hover:not(div.side-item) {
    background-color: #86efac;
    cursor: pointer;
}

button:hover {
    background-color: #86efac;
}

.right-container {
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.dashboard {
    fill: white;
}

img {
    width: 36px;
    height: 36px;
    margin-right: 15px;
}

.header {
    background-color: white;
    display: grid;
    padding: 10px 25px;
}

.upper-header, .down-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.search-container {
    display: flex;
    align-items: center;
}

.search {
    width: 100%;
    height: 25px;
    border-radius: 40px;
    background-color: var(--grey-background);
    border: none;
}

.profile {
    display: flex;
    justify-self: end;
    align-items: center;
}

.profile > * {
    padding: 5px;
    font-weight: bold;
}

.greeting {
    display: flex;
    align-items: center;
}

.icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.avatar {
    width: 48px;
    height: 48px;
}

.big {
    width: 56px;
    height: 56px;
}

.upper-header img:not(.avatar) {
    width: 32px;
    height: 32px;
}

.greeting-user {
    font-weight: bold;
}

.bottom-container {
    background-color: var(--grey-background);
    padding: 15px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 15px;
}

.controls {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: end;
    gap: 25px;
}

button {
    padding: 10px 20px;
    width: 90px;
    color: white;
    font-weight: bold;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    background-color: var(--primary-color);
}

ul {
    list-style: none;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(350px, 1fr));
    gap: 15px;
}

.project-card {
    padding: 20px;
    height: 200px;
    border-radius: 5px;
    border-left: 5px solid orange;
    background-color: white;
    display: grid;
    gap: 10px;
}

.actions {
    display: flex;
    justify-self: end;
    justify-items: flex-end;
    align-items: flex-end;
}

.main-side {
    display: grid;
}

.header, 
.project-card,
.announcements-container,
.trending-container {
    z-index: 1;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.announcements-container, .trending-container {
    background-color: white;
    border-radius: 5px;
    padding: 25px;
}

.trending-item {
    display: flex;
    margin: 15px;
    align-items: center;
}

h2 {
    margin-bottom: 10px;
}

.announcement-item {
    padding: 20px 10px;
}

.announcement-item:not(:last-child) {
    border-bottom: 1px solid grey;
}

.content p {
    font-weight: 500;
    color: grey;
}

.announcement-item p, .trend {
    font-weight: 400;
    color: grey;
}

.trend {
    font-size: 14px;
}

.user {
    font-weight: 500;
    font-size: 14px;
}

